@media only screen and (max-width: 921px) {
  .side-card-content {
    padding: 6%;
  }

  .stats {
    padding-right: 12%;
  }

  .description {
    margin-right: 40px;
  }
}

@media only screen and (max-width: 800px) {
  .description {
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 620px) {
  .container {
    padding: 20px 0;
  }

  .full-card {
    flex-direction: column-reverse;
    width: 80%;
    height: auto;
    margin: 20px 0;
  }

  .side-card-image {
    height: 300px;
    width: 100%;
  }

  .side-card-content {
    width: 100%;
    height: 100%;
    padding: 0;
    text-align: center;
  }

  .card-text {
    margin: 40px 15px;
  }

  .description {
    margin: 40px;
  }

  .stats {
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .stats-list {
    padding: 15px;
  }
}
